.menu-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-horizontal li {
  float: left;
  padding: 8px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .menu-horizontal {
    display: none;
  }
}
